doctype html
html
    head
        title= index
    body
        h1 plot page
        br
        form(action='/graph', method='get', id='graph_form')
            fieldset
                legend plot graph with group_id / patient_id / time scope
                div
                    label(for='group_id_input') group_id: 
                    input(type='text', id='group_id_input', name='group_id_input')
                div
                    label(for='patient_id_input') patient_id: 
                    input(type='text', id='patient_id_input', name='patient_id_input')
                div
                    label(for='from_input') from: 
                    input(type='date', id='from_input', name='from_input')
                    span 
                    label(for='from_input') to:
                    input(type='date', id='to_input', name='to_input')
                button(type='submit') plot
        form(action='/search', method='get')
            fieldset
                legend search with group_id / patient_id
                div
                    input(type='text', id='search_input', name='search_input')
                    button(type='submit') search
            br
            table(border='1', align='center')
                thead
                    td group_id
                    td patient_id
                tbody
                    each u in users
                        tr 
                            td= u.group_id
                            td= u.patient_id

        link(rel='stylesheet', href='/stylesheets/index_style.css')
        script(src='javascripts/index_script.js')